  html {     scroll-behavior: smooth; }
/*
      font-family: "Magmatic Ex Lt";
      font-family: "Magmatic Med";
      font-family: "Magmatic Bd";
      font-family: "Magmatic Thi";
      font-family: "Magmatic Thi Wd";
      font-family: "Magmatic Ex Lt Wd";
      font-family: "Magmatic Med Wd";


*/
  body {
    color: #280446;
    line-height: 140%;
    margin: 0; padding: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: white;
    font-family: "Magmatic Ex Lt";
  }


/*
bright green: #7ec60c;
medium green: #2d8000;
dark green: #00571e;
forest green: #355200;
purple (complements green): #8f52ff;
water blue: #8fe6ff;
democracy blue: #0089fa; looks good on white
dark blue: #002f5c;
dark red (complements water blue): #8f2100;

*/


		img { width: 100%; height: auto;  }
		body { margin: 0 ; box-sizing: border-box;
}

/* First section */
    nav  {
      max-width: 1600px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0 auto; padding-top: .3rem; padding-left: 1.8rem;
    }
    nav>div:nth-child(1)  {
      width: 50%;
      font-size: 1.2rem;
    }
    nav>div:nth-child(2)  {
      margin-left: auto;
    }
    nav a { white-space: nowrap; }

    .flex {
      grid-column: 1 / 9;
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      margin-bottom: 3rem;
      flex-wrap: wrap;
      max-width: 1600px;
    }
    .flex div {
      flex: 1;
      margin-right: 3rem;
      min-width: 300px;
      margin-bottom: 2rem;
    }
    .flex div.nowrap {
      flex-wrap: nowrap;
    }

    .contact {  background: #2D721C; }
    .contact div { color: white; text-align: center;
    font-size: 2rem; padding: 2rem 0; }

    nav div { padding: .8rem; }

    #rocco > div > div { margin: 0 0 1rem 0; }
		section, footer  {
		  display: grid;
      grid-row-gap: 0;
      grid-column-gap: 2rem;
			margin: 1rem auto;
      max-width: 1600px;

		/*	max-width: 1000px;
			margin: 0 auto; /* there is no float center */
		}
    footer { max-width: 100%; min-height: 50vh }
    footer .flex { margin: 0 auto; align-items: center; }
    footer img { width: 50%; mix-blend-mode: lighten;}
    footer p { margin-bottom: 1rem; color: #7ec60c; }
    footer div div:nth-of-type(1)  { text-align: center; }
    footer div:nth-of-type(2) p:first-of-type { font-size: 1.8rem; }

    /*
    bright green: #7ec60c;
    medium green: #2d8000;
    dark green: #00571e;
    forest green: #355200;
    purple (complements green): #8f52ff;
    water blue: #8fe6ff;
    democracy blue: #0089fa; looks good on white
    dark blue: #002f5c;
    dark red (complements water blue): #8f2100;

    */

    .onecolumn {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      align-content: space-around;
      justify-content: space-between;
    }

		section.leadtext {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}

    section.redistrictingnow {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(auto-fit, minmax(6rem, 1fr));
    }
    .redistrictingnow ol {
      margin-left: 2rem;
    }
    .fullwidth {
      grid-column: 1 / 9;
      align-self: center;
      margin-left: auto;
    }

    section.redistrictingnow h2 {
      grid-column: 1 / 5;
      align-self: center;
    }

    .leadintro {
      grid-column: 2 / 7;
    }
    .rightsupport {
      grid-column: 7 / 9;
      margin-top: .5rem;
    }

    .redistrictingnow .rightsupport {
      grid-column: 6 / 9;
    }
    .redistrictingnow .leadintro {
      grid-column: 2 / 6;
    }


    section.dunno {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px;
      justify-items: center; /* centers children within. width of child hugs content */
      align-items: center;
      align-content: center;
    }


    @media only screen and (max-width: 1024px) and (min-width: 900px){
      .leadintro { grid-column: 2 / 8; }
      .rightsupport { grid-column: 2 / 7; margin-bottom: 2rem;}
      .rightsupport p { font-size: 1.8rem; margin-bottom: 1rem;}
      ol { margin-left: 2rem; font-size: 1.3rem; line-height: 140%}
    }

    @media only screen and (max-width: 900px) {
      html { font-size: 14px; }
      h1 { line-height: 90%; }
      .leadintro>p { font-size: 2rem; }
      ol  { font-size: 1.2rem; line-height: 140%; }
      ol { margin-left: 3rem; }
      nav>div:nth-child(1)  {
        width: 100%;
        font-size: 1.2rem;
      }
      .hero p { padding: 1rem 4rem; }
      section, footer, .fullwidth  {
         display: block;
      }
    }



    section>div, section>h2, footer>div { padding: 2rem; padding-right: 1rem; padding-bottom: 0; }

    section.walltowall div { padding: 0; }

		footer { grid-template-columns: 1fr 200px 200px 1fr;
			grid-template-rows: 1fr 20px;
		background: #280446; padding-bottom: 2rem; color: white; margin-bottom: 0; }
/*
    bright green: #7ec60c;
    medium green: #2d8000;
    dark green: #00571e;
    forest green: #355200;
    purple (complements green): #8f52ff;
    water blue: #8fe6ff;
    democracy blue: #0089fa; looks good on white
    dark blue: #002f5c;
    dark red (complements water blue): #8f2100;

*/
		.stripe {
				grid-column: 2 / 3;
        grid-row: 1 / 4;
		}

    .balance-text {
         text-wrap: balance;  /* Apply (proposed) CSS style */
     }

    div {  }

    .hero {
      height: 500px;
        display: flex;
        align-items: center;
        font-family: "Magmatic Thi";
        background: #8fe6ff;
      }

    .hero p { color: #eee; font-size: 2.2rem; align-self: flex-end; padding: 1.5rem 4rem; z-index:100;  }

    .h1 {
      height: 500px;
      background: #8F52FF;
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .h1third {
      background: #8F52FF;
    }
    .h1first {

      -webkit-clip-path: polygon(0 0, 0 100%, 91% 100%, 90% 93%, 89% 85%, 85% 81%, 83% 74%, 80% 65%, 80% 30%, 91% 30%, 93% 23%, 97% 13%, 92% 0);
      clip-path: polygon(0 0, 0 100%, 91% 100%, 90% 93%, 89% 85%, 85% 81%, 83% 74%, 80% 65%, 80% 30%, 91% 30%, 93% 23%, 97% 13%, 92% 0);


      background: #8fe6ff;   transition: all 1s;
      animation-name: blue;
      animation-duration: 60s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }


    .h1second {

      -webkit-clip-path: polygon(0% 84%, 31% 84%, 35% 69%, 35% 30%, 40% 30%, 48% 30%, 55% 30%, 59% 26%, 62% 23%, 68% 21%, 73% 26%, 75% 42%, 72% 55%, 68% 55%, 66% 73%, 60% 73%, 47% 73%, 39% 100%, 0 100%);
      clip-path: polygon(0% 84%, 31% 84%, 35% 69%, 35% 30%, 40% 30%, 48% 30%, 55% 30%, 59% 26%, 62% 23%, 68% 21%, 73% 26%, 75% 42%, 72% 55%, 68% 55%, 66% 73%, 60% 73%, 47% 73%, 39% 100%, 0 100%);

      background: #2D721C;   transition: all 1s;
      animation-name: green;
      animation-duration: 60s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

    .h1second h1  { color: #fff; }
    .h1first h1  { color: #000; }

    @keyframes green {
      0 {
        -webkit-clip-path: polygon(0% 84%, 31% 84%, 35% 69%, 35% 30%, 40% 30%, 48% 30%, 55% 30%, 59% 26%, 62% 23%, 68% 21%, 73% 26%, 75% 42%, 72% 55%, 68% 55%, 66% 73%, 60% 73%, 47% 73%, 39% 100%, 0 100%);
        clip-path: polygon(0% 84%, 31% 84%, 35% 69%, 35% 30%, 40% 30%, 48% 30%, 55% 30%, 59% 26%, 62% 23%, 68% 21%, 73% 26%, 75% 42%, 72% 55%, 68% 55%, 66% 73%, 60% 73%, 47% 73%, 39% 100%, 0 100%);

      }
      25% {
        -webkit-clip-path: polygon(9% 15%, 0 12%, 0 0, 14% 0, 19% 14%, 25% 26%, 30% 34%, 40% 34%, 45% 62%, 52% 71%, 58% 84%, 69% 100%, 54% 100%, 41% 73%, 35% 65%, 29% 64%, 25% 50%, 22% 41%, 14% 25%);
clip-path: polygon(9% 15%, 0 12%, 0 0, 14% 0, 19% 14%, 25% 26%, 30% 34%, 40% 34%, 45% 62%, 52% 71%, 58% 84%, 69% 100%, 54% 100%, 41% 73%, 35% 65%, 29% 64%, 25% 50%, 22% 41%, 14% 25%);


      }
      50% {
        -webkit-clip-path: polygon(7% 17%, 0 12%, 0 0, 15% 0, 19% 14%, 27% 33%, 36% 20%, 48% 0, 62% 0, 74% 52%, 66% 100%, 54% 100%, 51% 84%, 41% 73%, 35% 65%, 29% 82%, 24% 82%, 15% 79%, 12% 27%);
clip-path: polygon(7% 17%, 0 12%, 0 0, 15% 0, 19% 14%, 27% 33%, 36% 20%, 48% 0, 62% 0, 74% 52%, 66% 100%, 54% 100%, 51% 84%, 41% 73%, 35% 65%, 29% 82%, 24% 82%, 15% 79%, 12% 27%);


      }
      75% {
        -webkit-clip-path: polygon(31% 11%, 32% 0, 37% 0, 43% 0, 52% 0, 54% 0, 61% 0, 71% 0, 85% 0, 75% 100%, 66% 100%, 54% 100%, 48% 100%, 41% 100%, 35% 100%, 27% 100%, 25% 100%, 28% 71%, 28% 32%);
        clip-path: polygon(31% 11%, 32% 0, 37% 0, 43% 0, 52% 0, 54% 0, 61% 0, 71% 0, 85% 0, 75% 100%, 66% 100%, 54% 100%, 48% 100%, 41% 100%, 35% 100%, 27% 100%, 25% 100%, 28% 71%, 28% 32%);

      }


      }
      100% {


        -webkit-clip-path: polygon(9% 23%, 5% 31%, 3% 38%, 0 45%, 0 13%, 0 0, 72% 0, 82% 3%, 86% 11%, 88% 23%, 91% 39%, 91% 62%, 83% 71%, 72% 68%, 69% 36%, 66% 27%, 54% 16%, 23% 13%, 15% 21%);
        clip-path: polygon(9% 23%, 5% 31%, 3% 38%, 0 45%, 0 13%, 0 0, 72% 0, 82% 3%, 86% 11%, 88% 23%, 91% 39%, 91% 62%, 83% 71%, 72% 68%, 69% 36%, 66% 27%, 54% 16%, 23% 13%, 15% 21%);

      }
    }

  @keyframes contactback {
    from {
      -webkit-clip-path: polygon(0 0, 0 100%, 89% 100%, 88% 91%, 87% 82%, 84% 71%, 83% 62%, 80% 57%, 80% 36%, 82% 25%, 85% 11%, 83% 0);
      clip-path: polygon(0 0, 0 100%, 89% 100%, 88% 91%, 87% 82%, 84% 71%, 83% 62%, 80% 57%, 80% 36%, 82% 25%, 85% 11%, 83% 0);

    }
    to {
      -webkit-clip-path: polygon(0 0, 0 100%, 97% 100%, 97% 91%, 96% 85%, 96% 77%, 93% 66%, 93% 36%, 96% 25%, 94% 17%, 94% 8%, 92% 0);
      clip-path: polygon(0 0, 0 100%, 97% 100%, 97% 91%, 96% 85%, 96% 77%, 93% 66%, 93% 36%, 96% 25%, 94% 17%, 94% 8%, 92% 0);
    }
}
    @keyframes blue {
      0% {
        -webkit-clip-path: polygon(63% 17%, 65% 27%, 62% 56%, 53% 65%, 39% 87%, 8% 100%, 90% 100%, 100% 100%, 100% 50%, 100% 25%, 100% 0, 89% 0, 63% 0);
        clip-path: polygon(63% 17%, 65% 27%, 62% 56%, 53% 65%, 39% 87%, 8% 100%, 90% 100%, 100% 100%, 100% 50%, 100% 25%, 100% 0, 89% 0, 63% 0);



      }
      25% {
        -webkit-clip-path: polygon(15% 23%, 23% 38%, 33% 53%, 47% 85%, 55% 100%, 100% 100%, 100% 54%, 100% 31%, 100% 16%, 100% 0, 91% 0, 0 0, 11% 10%);
        clip-path: polygon(15% 23%, 23% 38%, 33% 53%, 47% 85%, 55% 100%, 100% 100%, 100% 54%, 100% 31%, 100% 16%, 100% 0, 91% 0, 0 0, 11% 10%);


      }
      50% {
        -webkit-clip-path: polygon(66% 0, 10% 0, 24% 37%, 35% 64%, 58% 75%, 58% 100%, 90% 100%, 100% 100%, 100% 50%, 100% 0, 95% 0, 91% 0, 84% 0);
        clip-path: polygon(66% 0, 10% 0, 24% 37%, 35% 64%, 58% 75%, 58% 100%, 90% 100%, 100% 100%, 100% 50%, 100% 0, 95% 0, 91% 0, 84% 0);



      }
      75% {
        -webkit-clip-path: polygon(66% 31%, 62% 44%, 58% 57%, 61% 80%, 55% 99%, 76% 100%, 100% 100%, 100% 56%, 100% 16%, 100% 0, 91% 0, 70% 0, 69% 17%);
        clip-path: polygon(66% 31%, 62% 44%, 58% 57%, 61% 80%, 55% 99%, 76% 100%, 100% 100%, 100% 56%, 100% 16%, 100% 0, 91% 0, 70% 0, 69% 17%);



      }

      100% {
        -webkit-clip-path: polygon(74% 66%, 67% 34%, 57% 34%, 56% 47%, 44% 82%, 28% 100%, 90% 100%, 100% 100%, 100% 50%, 100% 25%, 94% 25%, 89% 27%, 89% 66%);
        clip-path: polygon(74% 66%, 67% 34%, 57% 34%, 56% 47%, 44% 82%, 28% 100%, 90% 100%, 100% 100%, 100% 50%, 100% 25%, 94% 25%, 89% 27%, 89% 66%);





      }
    }





    h1 { font-weight: normal; text-align: center; font-size: 8.5rem;
     display: inline-block; padding: 44px; margin: -1px 0;
     line-height: 100%;
    }
    h2 { font-size: 4rem; line-height: 110%;   font-family: Magmatic Med;   font-feature-settings: "ss02";}
    .kicker { font-family: Magmatic Thi; font-size: 3.6rem; color: #0089fa; margin: 0 0 3rem 2rem; }
    h3 { font-size: 1.8rem; line-height: 2.2rem;   font-family: Magmatic Med;;
    margin-bottom: .4rem;  }
    h4 { font-size: 1.8rem; margin-bottom: .5rem; line-height: 2.2rem; color: #615d65;  font-weight: normal; font-feature-settings: "ss02"; }
  h5 { font-size: 1.4rem; line-height: 1.8rem;  font-family: Magmatic Bd; color: #7ec60c; /* grey 615d65; */ }
    h6 { font-size: 1rem; line-height: 1.6rem; display: block;  font-family: Magmatic Med; }
    a { color: #002f5c; font-family: "Magmatic Med"; text-decoration: none; border-bottom: 1px dotted #615d65; }
    a.noborder { border-bottom: 0; }
    #measuring p {  margin-bottom: .9rem;}
    footer a { color: #ccc; }
    a:hover { border-bottom: 1px solid #002f5c; }
    .contact a { color: #fff; }
    .contact {
      background: #2d721c;   transition: all 1s;
      animation-name: contactback;
      animation-duration: 20s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
}
    p { font-size: 1.2rem; line-height: 140%; }
    .agate { font-size: .9rem; }
    .leadintro p { font-size: 2.2vw; margin-bottom: 1.4rem; }
    .leadtext p, .leadtext ul { padding: 2rem; padding-right: 0rem; padding-top: 0rem; font-size: 1.8rem; }
    ul {  display: block;}
    ol li { list-style-type: decimal;}
    strong { font-family: "Magmatic Med"; font-weight: normal; }
    /* .action { font-size: 1.2rem; line-height: 140%; font-weight: bold; font-style: italic; color: violet; } */

    @media only screen and (max-width: 500px) {
      h1 { font-size: 6rem; }
      h2, .kicker { font-size: 2rem; margin: 0; }
      h1 { line-height: 90%; }
      .leadtext p, .leadtext ul { padding: 0; font-size: 1.5rem; }
      .contact { margin-top: 2rem; font-size: 1rem;}
      .contact div {  line-height: 100%; padding: 2rem; }
      .leadintro>p { font-size: 1.5rem; }
      .flex div { margin-right: 0; padding-right: 1rem; }
      p { font-size: 1.2rem; line-height: 130%; }
      ol  { font-size: 1.2rem; line-height: 140%; }
      ol { margin-left: 3rem; }
      nav { margin-bottom: 0;}
      .hero p { padding: 1rem 2rem; }

    }
    @media only screen and (min-width: 1210px) {
      .hero, .h1 { height: 70vh; }
    }
    @media only screen and (min-width: 1510px) {
      .leadintro p { font-size: 34px; }
    }
