  html {     scroll-behavior: smooth; }
/*
      font-family: "Magmatic Ex Lt";
      font-family: "Magmatic Med";
      font-family: "Magmatic Bd";
      font-family: "Magmatic Thi";
      font-family: "Magmatic Thi Wd";
      font-family: "Magmatic Ex Lt Wd";
      font-family: "Magmatic Med Wd";


*/
  body {
    color: #280446;
    line-height: 140%;
    margin: 0; padding: 0;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: white;
    font-family: "Magmatic Ex Lt";
  }

  .printonly, .onlyprint { display: none; }
  @media only print {
    .noprint { display: none; }
    .printonly, .onlyprint { display: block; }
  }

  @media only screen and (max-width: 970px) {
    html { font-size: 12px; }
    section { grid-auto-flow: column; }
  }

/*
bright green: #7ec60c;
medium green: #2d8000;
dark green: #00571e;
forest green: #355200;
purple (complements green): #8f52ff;
water blue: #8fe6ff;
democracy blue: #0089fa; looks good on white
dark blue: #002f5c;
dark red (complements water blue): #8f2100;

*/
    h1 { font-size: 4rem; line-height: 4rem;    }
    h2 { font-size: 3.7rem; line-height: 110%;   font-family: Magmatic Med;   font-feature-settings: "ss02";}
    .kicker { font-family: Magmatic Thi; color: #0089fa; margin: 0 0 3rem 2rem; }
    h3 { font-size: 1.8rem; line-height: 2.2rem;   font-family: Magmatic Med;;
    margin-bottom: .4rem;  }
    h4 { font-size: 1.8rem; margin-bottom: .5rem; line-height: 2.2rem; color: #615d65;  font-weight: normal; font-feature-settings: "ss02"; }
  h5 { font-size: 1.2rem; line-height: 1.6rem;  font-family: Magmatic Bd; color: #7ec60c; /* grey 615d65; */ }
    h6 { font-size: 1rem; line-height: 1.6rem; display: block;  font-family: Magmatic Med; }
    a { color: #002f5c; font-family: "Magmatic Med"; text-decoration: none; border-bottom: 1px dotted #615d65; }
    a:hover { border-bottom: 1px solid #002f5c; }
    p { font-size: 1.2rem; line-height: 140%; }
    .agate { font-size: .9rem; }
    .leadintro p { font-size: 2.3vw; margin-bottom: 1.5rem; }
    .leadtext p, .leadtext ul { padding: 2rem; padding-right: 0rem; padding-top: 0rem; font-size: 1.8rem; }
    ul {  display: block;}
    /* .action { font-size: 1.2rem; line-height: 140%; font-weight: bold; font-style: italic; color: violet; } */
